body {
  background-image: url(images/bg.jpg);
}
span {
	color: cyan;
}
p {
	color: cyan;
}
td {
	border-color: white;
	border-width: 1px;
	border-style: inset;
}
table {
	border-spacing: 0px;
	text-align: center;
	width: 100%;
	border-color: white;
	border-width: 1px;
	border-style: outset;
}
.orson {
	border: 4mm ridge rgba(200, 200, 200, 1);
}
.title {
	color: yellow;
	font-size: 5em;
}